html {
  background: white;
  color: #282828;
  padding: 10em 8em 1.6em;
}

body {
  font-family: "ff-tisa-web-pro", serif;
  font-size: 1em;
  margin-bottom: 8em;
}

.bio, .articles {
  width: 600px;
  padding-left: 175px;
  margin-bottom: 50px;
}

.bio h1:before {
  position: absolute;
  margin-left: -140px;
  content: "";
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-image: url(../img/aaron.png);
  border: 1px solid #D8D8D8;
  background-size: cover;
  margin-top: -37px;
}

.site {
  max-width: 600px;
}

.articles ul {
  list-style:  none;
  padding-left: 0px;
}

.articles ul li {
  margin: 10px 0px 10px 0px;
}

img {width: 100%; display: block; margin: 0 auto; margin-bottom: 1em;}

h1 {
  font-size: 1.6em;
  font-family: "ff-tisa-web-pro", serif;
  font-weight: normal;
}

h2 {
  font-size: 1.2em;
  margin: 0.8em 0 0.8em 0;
  font-weight: normal;
}

h1.title {
  text-align: center;
}

p {
  font-size: 1em;
  line-height: 1.7;
  color: #333;
  font-family: "ff-tisa-web-pro", serif;
}

p.price {font-size: 1.5em; font-weight: bold;}

a {
  color: #4fb5c6;
  text-decoration: none;
}

a:hover {
  color: #39909e;
}

h1 + p {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}

#footer {
  padding-top: 80px;
}

#footer li {
  list-style: none;
  font-family:'Andale$MonoW01-Regular';
  margin: 12px 0px;
  font-size: .875em;
}

#footer ul {
  padding: 0;
  margin: 0;
}


section.left{float: left;}
section.right{float: right;}

::selection {color:#fff; background:#4fb5c6;}
::-moz-selection {color:#fff; background:#4fb5c6;}

@media screen and (max-width: 650px) {
  html {
    padding: 3em 2.45em 2.45em;
  }

  body {
    margin: 0 auto;
  }

  .bio {
    padding-left: 20px;
    width: auto;
    margin-top: 100px;
  }

  .bio h1:before {
    position: absolute;
    margin-left: -15px;
    content: "";
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-image: url(../img/aaron.png);
    border: 1px solid #D8D8D8;
    background-size: cover;
    margin-top: -85px;
  }

  .articles {
    padding-left: 20px;
  }

  .articles ul {
    list-style:  none;
    padding-left: 0px;
  }
}

@media screen and (max-width: 400px) {
  html {
    padding: 1.5em 0.95em 1.5em;
  }

  h1 {
    font-size: 1.2em;
  }

  p {
    font-size: 0.8em;
  }

  h1 + p {
    margin-top: 1em;
  }
}