html {
  background: white;
  color: #282828;
  font: 120%/1.5 "freight-text-pro", sans-serif;
  padding: 2.5em 3em 1em;
}

body {
}

#wrap { 
  width: auto; 
  max-width: 800px;
  margin: 0 auto; 
}

/*-----------------------------------*\
  Typography
\*-----------------------------------*/

h1, h2, h4, h5, h6 {font-family: "freight-sans-pro";}
h1 { font-size: 2em; font-weight: normal;       /* 2*16 = 32 */         }
h2 { font-size: 1.5em; font-weight: normal;     /* 1.5*16 = 24 */       }
h3 { font-size: 1.25em; font-weight: normal;    /* 1.25*16 = 20 */      }
h4 { font-size: 1em; font-weight: normal;       /* 1*16 = 16 */         }
h5 { font-size: 0.83em; font-weight: normal;    /* 0.83*16 = 13.28 */   }
h6 { font-size: 0.75em; font-weight: normal;    /* 0.75*16 = 12 */      }

h1.post-title {
  text-align: center;
  margin-bottom: 0;
}

h1.brand-title {
  font-size: 1.25em;
  font-family: "freight-text-pro", serif;
  border-bottom: 1px solid #f9f9f9;
  padding-bottom: 25px;
}

h3 span {
  color: #282828; 
  opacity: 0.7;
}

h4.time {
  color: #999;
  font-style: italic;
  font-size: 0.9em;
  margin-bottom: 5px;
  margin-top: 5px;
}

h4.role {
  color: #999;
  font-style: italic;
  font-size: 1em;
  margin-top: 0px;
  margin-bottom: 5px;
  width: 225px;
}

p {
  color: #333;
}

p.break {
  text-align: center;
}

p.meta {
  text-align: center;
  margin-top: 0;
  margin-bottom: 2em;
}

p.date {
  color: #bdbdbd;
  font-size: .85em;
}

.work p.lead {margin-top: 0px;}

a {
  color: #333;
  opacity: 0.7;
  text-decoration: none;
}

a:hover {
  opacity: .9;
  background-color: #FFFF00;
  border-radius: 3px;
}

a.link {
  font-size: 0.9em;
}

figure {
  width: 100%;
  margin: 0;
}

figcaption {font-size: 0.8em; color: #282828; opacity: 0.9;}

.articles ul {
  list-style:  none;
  padding-left: 0px;
}

.articles ul li {
  margin: 10px 0px 10px 0px;
}

li.booked {
  text-decoration: line-through;
}

img {width: 100%; display: block; margin: 0 auto; margin-bottom: 1em; margin-top: 1em;}

.work {margin-bottom: 2em; padding-bottom: 2em; border-bottom: 1px solid #eee;}
.bio {padding-bottom: 2em; border-bottom: 1px solid #eee;}
.brewbot {margin-bottom: 2em; padding-bottom: 2em; border-bottom: 1px solid #eee;}
.column-left{ float: left; width: 45%; }
.column-right{ float: right; width: 45%; }

footer {
  text-align: center;
  width: auto;
  border-top: 1px solid #eee;
/*  position: fixed;*/
/*  bottom: 0;*/
  margin-top: 50px;
}

footer.container {
  margin: 0 auto;
  display: block;
}
footer .right {border-left: 1px solid #eee;}

footer ul {padding: 0;}
footer li {
  list-style: none;
  margin: 0;
}

footer li a {font-size: 0.9em;}

footer p {font-size: 0.7em; padding-top: 20px;}

::selection {color:#282828; background:#FFFF00;}
::-moz-selection {color:#282828; background:#FFFF00;}

span {color: #777; font-size: 1em; }

@media only screen and (min-device-width: 560px) and (max-device-width: 1136px) and (-webkit-min-device-pixel-ratio: 2) {
    /* iPhone 5 only */
  html {
    padding: 3em 2.45em 2.45em;
  }

  body {
    margin: 0 auto;
  }

  .articles ul {
    list-style:  none;
    padding-left: 0px;
  }

  img.brewbot-logo {
    float: none;
    margin: 80px 0px 25px 0px;
    width: 30%;
  }

  footer p {
    width: auto;
  }

  footer .right {border-left: none;}
}

@media screen and (max-width: 400px) {
  html {
    padding: 1.5em 0.95em 1.5em;
  }

  img.signature {
    float: none; 
    margin-left: 30%;
    width: 40%;
  }

  img.brewbot-logo {
    float: none;
    margin: 80px 0px 25px 0px;
    width: 30%;
  }

  h1 {
    font-size: 1.2em;
  }

  p {
    font-size: 0.9em;
  }

  h1 + p {
    margin-top: 1em;
  }

  footer .right {border-left: none;}
}