body {
  font-family: "Work Sans", sans-serif;
}

p {
  font-size: 1.1em;
}

.navbar-brand img {
  width:100px;
  margin-top: -5px;
}

.page {margin-top: 150px;}

h2.featurette-heading {margin-top: 0px;}

.marketing .col-lg-4 p {text-align: left;}
.marketing .col-lg-4 a {text-align: center;}


/* Footer */

footer ul {padding-left: 0px;}

footer ul li {
  display: inline;
  margin-right: 10px;
}

.btn.btn-default {
  color: #fff;
  background-color: #4EB525;
  border-color: #4EB525;
}

.btn.btn-default:hover {
  color: #fff;
  background-color: #138D15;
  border-color: #138D15;
}
