@media only screen
and (max-width : 720px) {

  .logo {
    width: 70px;
  }

  #intro, #format {
  max-width: 760px;
  width: 80%;
  margin: 0 auto 0 auto;
  padding: 0 10px;
  }

  section#intro {
  padding: 50px 0 120px 0;
  }

  section {clear: both !important;}

 h1 {
    font-size: 2.2em !important;
  }

  #schedule.belfast {
    margin: 0 0 0 90px;
  }

  #back-in-belfast { margin-top: 0; padding: 90px 0 130px 0;}
  #galway { margin-top: 0; padding: 100px 0 130px 0;}
  #galway_second { margin-top: 0; padding: 100px 0 130px 0;}

#schedule.schedule_right_small_1 {float: right; margin-top: -75px;}
#schedule.schedule_right_small_2 {float: right; margin-top: -100px;}

ul.footer {margin-bottom: 50px;}

ul.footer li {
  color: #333;
  line-height: 1.9em;
  font-size: 1em;
  margin: 0px 0 10px 0;
}

ul.footer {
  color: #555555;
  text-align: left;
  padding-left: 0px;
}

}
