@import "breakpoints";
@import url('https://rsms.me/inter/inter.css');
html { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  html { font-family: 'Inter var', sans-serif; }
}

html {
  background: #f5f0ea url(/images/background-pattern.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover; 
  font-size: 18px;
}

body {
  font: 400 110%;
  font-weight: 400;
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  line-height: 1.4;
  background-color: var(--background-color);
  color: var(--main-text-color);
  -moz-font-feature-settings: "liga" 1 !important;
  font-feature-settings: "liga" 1 !important;
  min-height:100%
}

h1 { 
  font-weight: 900;
}

p {
  line-height: 1.5;
  max-width: 36em;
}

a {
  color: #030508;
  &:focus,
  &:hover {
    color: #e27044;
    transition: ease-in-out .2s;
  }
}


.fwa {
  width: 100vw;
}

blockquote {
  @include r(320) {
    max-width: 51.5em;
    margin: 1em 0em 1em 0em;
    color: #444;
    padding: 0.1em 1.5em 0.5em 1.5em;
    border-left: 3px solid #e27044;
  }
  @include r(600) {
    max-width: 51.5em;
    margin: 1em 0em 1em 0em;
    color: #444;
    padding: 0.2em 3em 0.9em 1.5em;
    border-left: 3px solid #e27044;
  }
}