<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width">

    <title>Aaron Gilmore | Digital Design &amp; Front-end Development</title>
    <meta property="og:title" content="Aaron Gilmore | Digital Design &amp; Front-end Development" />
    <link rel="shortcut icon" type="image/png" href="/img/favicon.png"/>


    <meta property="og:description" content="My name is Aaron and I design and build websites with a focus on functional interaction design, good typography, speed, and simplicity." />
    <meta name="description" content="My name is Aaron and I design and build websites with a focus on functional interaction design, good typography, speed, and simplicity.">
    
    <meta name="keywords" content="Visual, digital designer, web, front-end developer, development, Git, version, control, iOS, HTML, CSS, CMS, product">
    <meta name="author" content="Aaron Gilmore">
    <meta property="og:type" content="website" />
    <meta property="og_url" content="https://aarongilmore.com/" />
    <link rel="canonical" href="https://aarongilmore.com/" />
    <meta name="twitter:creator" content="@aarondgilmore" />

    <%= stylesheet_link_tag "styles" %>
    <%= javascript_include_tag "main" %>
    
    
  </head>
  <body>
    <%= yield %>
    <%= partial "footer" %>
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <script>
      $( "article h3" ).addClass( "mw" );
    </script>
  </body>
</html>
