<% wrap_layout :layout do %>
  <article class="lh-copy mt5">
  <span class="gray f7"><%= current_article.data.location %>~ <%= current_article.date.strftime('%b %e, %Y') %></span>
  <h1 class="f-subheadline-ns f1-m lh-title m-title mv3"><%= current_article.title %></h1>
  <div class="article ml6-ns">
    <%= yield %>
  </div>
  </article>
<% end %>