<nav>
    <div class="content">
        <div class="grid">
            <div class="grid__col grid__col--1-of-2">
                <img src="img/logo.png" width="38px" height="27px" alt="Logo">
            </div>
            <div class="grid__col grid__col--1-of-2">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/archive.html">Archive</a></li>
                    <li><a href="/hire.html">Hire Me</a></li>
                </ul>
            </div>
        </div>
    </div>
</nav>