<nav>
    <div class="content">
        <div class="grid">

            <div class="grid__col grid__col--5-of-5">
            <a href="/" class="site--logo">
               <svg width="25px" height="25px" viewBox="667 401 140 140" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                   <!-- Generator: Sketch 3.8.3 (29802) - http://www.bohemiancoding.com/sketch -->
                   <desc>Created with Sketch.</desc>
                   <defs></defs>
                   <g id="Group" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" transform="translate(667.000000, 401.000000)">
                       <rect id="Rectangle-1" fill="#1D282F" x="0" y="0" width="140" height="140" rx="8"></rect>
                       <g id="Page-1" transform="translate(37.000000, 37.000000)" stroke="#FFFFFF" stroke-width="10">
                           <g id="Group-7" transform="translate(0.000000, 0.379076)" stroke-linecap="round">
                               <path d="M2.220648,0 L64.7807813,0" id="Stroke-1"></path>
                               <path d="M46.0122947,0.523701389 L67.000268,64.0973125" id="Stroke-3"></path>
                               <path d="M20.9907427,0.523701389 L8.93333333e-05,64.0973125" id="Stroke-5"></path>
                           </g>
                           <path d="M15.2080173,25 L51.8891773,25" id="Stroke-8"></path>
                       </g>
                   </g>
               </svg>
            </a>
                <nav class="main-nav">
                    <ul>
                        <li><a href="/">Home</a></li>
                        <!-- <li><a href="/work">Projects</a></li> -->
                        <li><a href="/archive">Writing</a></li>
                        <li><a href="/hire">Hire Me</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</nav>
