---
title: Downtown Is For People
date: 2019-11-13
location: Dublin, Ireland
excerpt: When we think about the built environment we think about "place making" as opposed to "land-use". It's more considered, even the term implies more care.
layout: post
---

When we think about the built environment we think about "place making" as opposed to "land-use". It's more considered, even the term implies more care.

I've been on a binge recently of reading about urbanism and the built environment, as well as attending lectures about the subject. What I love most about it 

I've been reading a lot recently on the topic of urbanism and this passage from Jane Jacobs in 'The Exploding Metropolis' really stood out to me:

> From city to city the architects' sketches conjure up the same dreary scene; here is no hint of individuality or whim or surprise, no hint that here is a city with a tradition and flavour all its own. These projects will not Revitalise downtown; they will deaden it. For they work at cross-purposes to the city. They banish its variety.<sup>1</sup> 

<div><img src="/images/downtown-is-for-people/jane-jacobs.jpg" alt=""></div>

> It is the premise of the critique that the best way to plan for downtown is to see how people use it today; to look for its strengths and to exploit and reinforce them. There is no logic that can be superimposed on the city; people make it, and it is to them, not buildings, they we must fit our plans. This does not mean accepting the present; downtown does need and overhaul, it is dirty, it is congested. But there are things that are right about it too, and by simple old-fashioned observation we can see what they are. We can see what people like.<sup>2</sup> 

As Belfast City Council [reviews plans](https://twitter.com/Tribeca_Belfast/status/1192417361984458753?s=20) for the proposed "Tribeca Belfast" I can't help think about this passage by Ms. Jacobs.
