<div class="mv4">
    <!-- <h1 class="mt0">Digitally Transforming <br> Toys "R" Us</h1> -->
    <img src="/projects/toys-r-us/assets/title.svg" alt="">
    <p class="mt3">Crippled by leveraged debt, Toys “R” Us turned to its most profitable store for a lifeline&mdash;e-commerce. <span class="bg-yellow">During a two year span we helped digitaly tranform the UK e-commerce into a profitable earner that was easy for customers to use.</span> Unfortunately, it wasn't enough to save them from <a href="https://www.bloomberg.com/news/articles/2017-09-19/toys-r-us-files-for-bankruptcy-crushed-by-online-competition" target="_blank">their much larger financial woes ↗</a>.</p>
    <small class="db gray mb2">Role: UX research & design, project management, prototyping, front-end development</small>
    <small class="db gray mb2">Period: 2017&ndash;2018</small>
    <small class="db gray">Link: Offine</small>
</div>
<img src="/projects/toys-r-us/assets/header.jpg" alt="">
<img src="/projects/toys-r-us/assets/mobile.jpg" alt="">