<div class="mv4">
    <h1 class="f-subheadline-ns f1-m lh-title m-title mv3">Digitally Transforming Toys"R"Us</h1>
    <p class="mt3">Crippled by leveraged debt, Toys“R”Us turned to its most profitable store for a lifeline: e-commerce. <span class="bg-light-yellow">During a two year span we helped digitaly tranform the UK e-commerce into a profitable earner that was easy for customers to use.</span> Unfortunately, it wasn't enough to save them from <a href="https://www.bloomberg.com/news/articles/2017-09-19/toys-r-us-files-for-bankruptcy-crushed-by-online-competition" target="_blank">their much larger financial woes ↗</a>.</p>
    
    <div class="flex flex-row-ns flex-column measure">
        <div class="w-50-ns">
            <small>Role(s)</small>
            <small class="db gray mb2">UX research & design, project management, prototyping, front-end development</small>
        </div>
        <div class="w-25-ns">
            <small>Period</small>
            <small class="db gray mb2">2017&ndash;2018</small>
        </div>
        <div class="w-25-ns">
            <small>Link</small>
            <small class="db gray">Offine</small>
        </div>
    </div>

    <h3>Introduction</h3>
    <p>I teamed up with the folks at Dawson Andrews when I freelancing to help them deliver a new experience for Toys"R"Us. In this case study I will showcase some of the issues at the heart of the problem of the e-commerce organisation, the approach to the solution, and the highest performing design solutions we provided and implemented.</p>
    <p>But first, some key highlights from this project:</p>
    <ul class="measure">
        <li>Overall Conversion Rate <span class="bg-light-yellow">increased by 20.74%</span></li>
        <li>Cart Abandonment on Mobile <span class="bg-light-yellow">decreased by 74.6%</span></li>
        <li>Mobile Revenues <strspan class="bg-light-yellow"ong>increased by 42.3%</span></li>
        <li>Cart to Checkout Conversion <span class="bg-light-yellow">was up 210.4%</span></li>
        <li>Add to Cart <span class="bg-light-yellow">went up by x3</span></li>
    </ul>
    <img src="/projects/toys-r-us/assets/homepage.jpg" alt="">
    <img src="/projects/toys-r-us/assets/plp.jpg" alt="">
    <img src="/projects/toys-r-us/assets/pdp.jpg" alt="">
    <img src="/projects/toys-r-us/assets/cart.jpg" alt="">

    <h3>On Smaller Screens</h3>
    <p>For the best part of a year I worked on various aspects of the Toy"R"Us redesign but the area I really focused on was mobile. With 60%+ users experiencing the website on mobile we knew it would be a key area to target in our digital transformation.</p>
    <p>Through research and development we were able to produce a simplified mobile experiece that saw some great improvments in conversion:</p>
    <ul class="measure">
        <li>Mobile Conversion Rate <span class="bg-light-yellow">increased 46.33%</span></li>
        <li>Tablet Conversion Rate <span class="bg-light-yellow">increased 6.3%</span></li>
        <li>Mobile Penetration (i.e. what percentage on mobile of overall revenues) <span class="bg-light-yellow">increased 14.1%</span></li>
    </ul>
    <img src="/projects/toys-r-us/assets/navigation.jpg" alt="">
    <img src="/projects/toys-r-us/assets/scaling.jpg" alt="">
</div>