
// Converted Variables


// Custom Media Query Variables


/*

   FONT FAMILY GROUPS
   Docs: http://tachyons.io/docs/typography/font-family/

*/


@font-face {
  font-family: 'Untitled Sans Light';
  src: url('/fonts/UntitledSansWeb-Light.eot?#iefix') format('embedded-opentype'), 
       url('/fonts/UntitledSansWeb-Light.woff2') format('woff2'), 
       url('/fonts/UntitledSansWeb-Light.woff') format('woff');
}

@font-face {
  font-family: 'Untitled Sans Regular';
  src: url('/fonts/UntitledSansWeb-Regular.eot?#iefix') format('embedded-opentype'), 
       url('/fonts/UntitledSansWeb-Regular.woff2') format('woff2'), 
       url('/fonts/UntitledSansWeb-Regular.woff') format('woff');
}

.untitled-reg {
  font-family: "Untitled Sans Regular"; 
}

.untitled-light {
  font-family: "Untitled Sans Light"; 
}

.system-sans-serif {
  font-family: sans-serif;
}

.system-serif {
  font-family: serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Untitled Sans Regular",
               helvetica,
               sans-serif;
}

p {
  font-family: "Untitled Sans Regular",
               helvetica,
               sans-serif;
}
