
// Converted Variables


// Custom Media Query Variables


/*

  STYLES

  Add custom styles here.

*/

::-moz-selection { /* Code for Firefox */
    background: #d7e5e5;
}

::selection {
    background: #d7e5e5;
}

blockquote {
  border-left: 2px solid #50a3a3;
  margin: 1.5em;
  margin-left: 0em;
  color: #8c8c8c;
  font-family: 'EB Garamond', serif;
  margin: 1em 0em 2em 0em;
  padding-left: 1.7778rem
}

blockquote a {
  color: $gold;
  text-decoration: none;
}

blockquote p {
  display: inline;
}

img.shadow {
  box-shadow: 0px 0px 15px #c9c9c9;
}

.lead {
  -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
      -moz-animation: fadein 2s; /* Firefox < 16 */
       -ms-animation: fadein 2s; /* Internet Explorer */
        -o-animation: fadein 2s; /* Opera < 12.1 */
           animation: fadein 2s;
}

ul.role:before {
  background: #e0e0e0;
  content: "";
  display: block;
  width: 1.5em;
  height: .1em;
  margin-bottom: 1.9em;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid $light-gray;
  margin: 2em 0;
  padding: 0;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

#mc_embed_signup {
  position: relative;
  font-size: 16px;
  line-height: normal;
}

#mc_embed_signup input {
    position: relative;
    display: block;
    float: left;
    width: 100%;
    border: none;
    background-color: black;
    color: white;
    font-size: 1.3em;
    padding: 20px;
    border-radius: 5px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom: 2px solid #eee;
    border-radius: 0px;
  }

  #mc_embed_signup button {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    width: auto;
    cursor: pointer;
    font-weight: 700;
    border: none;
    width: 100%;
    background-color: transparent;
    border: 2px solid $blue;
    border-radius: 0px;
    font-size: 1.05em;
    padding: 20px;
    margin-top: 20px; 
    color: $blue;
  }

  #mc_embed_signup button:hover {
    background-color: $blue;
    color: white;
  }

.bg-pattern {
  position: relative;
  background-image: url(/img/footer.png);
  background-repeat: no-repeat;
  background-size: cover;
}


@media #{$breakpoint-large} {
  .bg-img {
    position: relative;
    background-image: url(/img/portrait.jpg);
    background-repeat: no-repeat;
    left: 0;
    background-size: 40%;
    background-position: 0% 20px;
  }
}

@media #{$breakpoint-large} {
  #mc_embed_signup input {
    position: relative;
    display: block;
    float: left;
    width: 400px;
    border: none;
    background-color: black;
    color: white;
    font-size: 1.3em;
    padding: 20px;
    border-radius: 5px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom: 2px solid #eee;
    border-radius: 0px;
  }

  #mc_embed_signup button {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    width: auto;
    cursor: pointer;
    font-weight: 700;
    border: none;
    background-color: transparent;
    border: 2px solid $blue;
    border-radius: 0px;
    font-size: 1.05em;
    margin-left: 10px;
    margin-top: 3px; 
    color: $blue;
  }

  #mc_embed_signup button:hover {
    background-color: $blue;
    color: white;
  }

  .one::before { 
    content: "1.";
    position: absolute;
    left: -2em;
}

.two::before { 
    content: "2.";
    position: absolute;
    left: -2em;
}

.three::before { 
    content: "3.";
    position: absolute;
    left: -2em;
}

.four::before { 
    content: "4.";
    position: absolute;
    left: -2em;
}

}

textarea, input { outline: none; }

span.hl {
  background: #d7e5e5;
}
