
// Converted Variables


// Custom Media Query Variables


/*

  STYLES

  Add custom styles here.

*/

.bg {
  background: $pink url(/img/redcurrant.png);
  background-repeat: repeat;
  background-size: auto auto;
  background-attachment:fixed;
  background-repeat: no-repeat;
  background-size: 1000px;
}

blockquote {
  border-left: 2px solid #234098;
  margin-left: 0em;
  color: #7f7f7f;
  margin: 3em 0em 3em 0em;
  padding-left: 1.7778rem;
}

blockquote a {
  color: $gold;
  text-decoration: none;
}

blockquote p {
  display: inline;
  font-weight: 500;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid $light-gray;
  margin: 2em 0;
  padding: 0;
}

#mc_embed_signup {
  position: relative;
  font-size: 16px;
  line-height: normal;
}

#mc_embed_signup input {
    position: relative;
    display: block;
    float: left;
    width: 100%;
    border: 1px solid $light-gray;
    background-color: $white-80;
    color: $black;
    font-size: 1em;
    padding: 15px;
    border-radius: 5px;
  }

  #mc_embed_signup button {
    width: auto;
    cursor: pointer;
    /*font-weight: 700;*/
    border: none;
    width: 100%;
    background-color: $blue;
    border-radius: 5px;
    font-size: 1em;
    padding: 15px;
    margin-top: 10px; 
    color: $white;
  }

  #mc_embed_signup button:hover {
    background-color: $blue;
    color: white;
  }

@media #{$breakpoint-large} {
  #mc_embed_signup input {
    position: relative;
    display: block;
    float: left;
    width: 60%;
    border: 1px solid $light-gray;
    background-color: $near-white;
    color: $black;
    padding: 20px;
    border-radius: 5px;
  }

  #mc_embed_signup button {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    width: auto;
    cursor: pointer;
    border: none;
    background-color: transparent;
    border-radius: 5px;
    margin-left: 10px;
    padding: 20px;
    margin-top: 1px; 
    background-color: $blue;
    color: $white;
  }
  

  #mc_embed_signup button:hover {
    background-color: $blue;
    color: white;
  }

}

@media #{$breakpoint-medium} {
    #mc_embed_signup input {
    position: relative;
    display: block;
    float: left;
    width: 60%;
    padding: 20px;
  }

  #mc_embed_signup button {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    width: auto;
    cursor: pointer;
    font-weight: 700;
    border: none;
    background-color: transparent;
    border-radius: 5px;
    margin-left: 10px;
    padding: 20px;
    margin-top: 1px; 
    background-color: $blue;
    color: $white;
  }

}

textarea, input { outline: none; }

span.hl {
  background: #d7e5e5;
}

.arrow:before {
  content: '→';
  color: blue;
  position: absolute;
  left: -65px;
}

.scribble:before {
  content: url(/img/scribble.svg);
  opacity: 0.2;
  position: absolute;
  z-index: 1;
  left: -65px;
  top: 50px;  
}

/* Image Slider */

.frame {
  width: 100%;
  position: relative;
  font-size: 0;
  line-height: 0;
  overflow: hidden;
  white-space: nowrap;
}

.slides {
  display: inline-block;
}

.gallery__slide--mini {
  max-width: 225px
}

.gallery__slide--large {
  max-width: 275px;
}

.gallery__slide {
  display: inline-block;
  box-sizing: content-box;
  font-size: 1rem;
  vertical-align: top;
  white-space: normal;
  width: 70vw;
  margin-left: calc(50px - 10vw);
  padding-left: 5vw;
  padding-right: 5vw;
  position: relative;
}

.gallery__slide:first-of-type {
  margin-left: 0;
  padding-left: calc(50vw - 67.5rem);
}

.prev, .next {
  text-indent: -999em;
  background: transparent;
  border: 0;
  width: 50%;
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 2;
  overflow: hidden;
}

.next {
  right: 0;
}

.next:hover {
  cursor: url(/img/arrow-right.svg) 40 0,auto;
}

.prev {
  left: 0;
}

.prev:hover {
 cursor: url(/img/arrow-left.svg) 40 0,auto;
}

.next svg, .prev svg {
  width: 25px;
}

ul.toys li:hover {
  transition:all 0.3s ease;
  transform: translateY(-10px);
}

ul.toys li {
  transition:all 0.8s ease;
  transform: translateY(10px);
}

.number-01:before {
  content: '01';
  font-size: 6em;
  font-weight: 400;
  opacity: 0.2;
  z-index: 0;
  color: #d09191;
  position: absolute;
  top: -35px;
  left: -15px;
  font-family: "Inter UI";
}
.number-02:before {
  content: '02';
  font-size: 6em;
  font-weight: 400;
  opacity: 0.2;
  z-index: 0;
  color: #d09191;
  position: absolute;
  top: -35px;
  left: -15px;
  font-family: "Inter UI";
}
.number-03:before {
  content: '03';
  font-size: 6em;
  font-weight: 400;
  opacity: 0.2;
  z-index: 0;
  color: #d09191;
  position: absolute;
  top: -35px;
  left: -15px;
  font-family: "Inter UI";
}
.number-04:before {
  content: '04';
  font-size: 6em;
  font-weight: 400;
  opacity: 0.2;
  z-index: 0;
  color: #d09191;
  position: absolute;
  top: -35px;
  left: -15px;
  font-family: "Inter UI";
}

.blob {
  background: url("/img/blob.svg");
  background-size: cover
  /*position: absolute;
  right: 0;
  bottom: 0;*/
}

@media screen and (min-width: 56rem) and (min-height: 60rem) {
  .text {
    position: absolute;
    bottom: 5rem;
  }
}

#organic-blob {
  position: absolute;
  top: 140px;
  left: 0;
  z-index: -9999;
}

svg,
svg circle {
  fill: #dfab5f;
}

@keyframes from0to360 {
  from{transform:rotate(0);}
  to{transform:rotate(360deg);}
}

@-webkit-keyframes from0to360 {
  from{transform:rotate(0);}
  to{transform:rotate(360deg);}
}

#Circle1 {
  animation: from0to360 1s linear infinite;
  -webkit-animation: from0to360 1s linear infinite;
  cx: 150;
  cy: 145;
  r: 100;
  transform-origin: 145px 150px;
}

@keyframes from360to0 {
  from{transform:rotate(360deg);}
  to{transform:rotate(0deg);}
}

@-webkit-keyframes from360to0 {
  from{transform:rotate(360deg);}
  to{transform:rotate(0deg);}
}

#Circle2 {
  animation: from360to0 2s linear infinite;
  -webkit-animation: from360to0 2s linear infinite;
  cx: 150;
  cy: 155;
  r: 100;
  transform-origin: 155px 150px;
}

#Circle3 {
  animation: from0to360 3s linear infinite;
  -webkit-animation: from0to360 3s linear infinite;
  cx: 145;
  cy: 150;
  r: 100;
  transform-origin: 150px 145px;
}

#Circle4 {
  animation: from360to0 2.5s linear infinite;
  -webkit-animation: from360to0 2.5s linear infinite;
  cx: 155;
  cy: 150;
  r: 100;
  transform-origin: 150px 155px;
}