// Body resets

  * {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
  }

  html {
    background: white;
    padding: 2em 0em;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
  }

  body {
    color: #535b61;
    background-color: #fff;
    -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
  }

  p.date {
    font-size: 1rem;
    margin-bottom: 0px;
  }

  .purpose .delta {
    margin: 1rem 0rem;
  }

  ul.project--info span {
    text-transform: uppercase;
    font-family: "open-sans",sans-serif;
    font-size: 0.6em;
    color: #da9bc6;
    letter-spacing: 0.1em;
  }

  .npr {
    padding-right: 0.25em;
    padding-left: 0em;
  }

  .npl {
    padding-left: 0.25em;
    padding-right: 0em;
  }

// Images

  img {max-width: 100%;}

  figure {
    width: 100%;
    margin: 0;
  }

  figcaption {font-size: 0.8em; opacity: 0.9;}

  img.article-figure {
    width: 600px;
    padding: 40px 0px;
    margin: 0 auto;
    display: block
  }
  .portrait img {
    
  }


// Lists

  ul {
    list-style: none;
    padding: 0;
  }

  .articles ul {
    list-style:  none;
    padding-left: 0px;
  }

  .articles ul li {
    margin: 10px 0px 10px 0px;
  }

  ul.services {
    list-style: circle;
    list-style-position: inside;
  }

// Footer

  footer {
    padding: 2em 0em;
    background-color: #eee;
    border-top: 1px solid #e2e2e2;
    margin-top: 5em;
    font-family: "open-sans",sans-serif;
    font-size: 0.8em;
  }

// Extras

img.fade {
      -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 2s; /* Firefox < 16 */
        -ms-animation: fadein 2s; /* Internet Explorer */
         -o-animation: fadein 2s; /* Opera < 12.1 */
            animation: fadein 2s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
