// Layout
//
// Styles for managing the structural hierarchy of the site.

#wrap {
  width: auto;
  max-width: 1050px;
  margin: 0 auto;
}

section {
  margin-bottom: 30px;
  margin-top: 30px;
  max-width:36em; 
}

/*-----------------------------------*\
  Navigation
\*-----------------------------------*/

nav.main-nav {
  float: right;
  font-family: "open-sans",sans-serif;
  font-size: 0.8em;
}

nav.main-nav ul {
  margin: 0em;
}

nav.main-nav li {
  display: inline-block;
  margin-right: 2em;
}

nav.main-nav ul li:last-child {
  margin-right: 0em;
}

nav.main-nav a {
  border-bottom: none;
}