// Layout

.column--narrow {
  width: auto;
  max-width: 36em;
}

.post {
  max-width: 36em;
  margin: 0 auto;
}

section.about {
  margin-top: 2em;
}

.post h4, p.meta {
  text-align: center;
}

// Navigation

nav {
  max-width: 68.42105rem;
  margin: 0 auto;
  display: block;
  padding: 1em 0em 3em 0em;
}

nav svg {
  margin-top: 15px;
}

.main-nav {
  float: right;
  font-family: "open-sans",sans-serif;
  font-size: 0.8em;
  margin-top: 0.6em;
}

nav ul {
  margin: 0em;
}

.main-nav li {
  display: inline-block;
  margin-right: 2em;
}

.main-nav li:last-child {
  margin-right: 0em;
}

.main-nav a {
  border-bottom: none!important;
}
