<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">
        <meta name="description" content="I'm an independent designer and developer based in Ireland, and a student of Interactive Design at the University of Ulster. I previously worked as a Product Design Intern for Brewbot.">
        <meta name="keywords" content="Visual, design, web, front-end, development, Git, version, control, iOS, HTML, CSS, CMS, Brewbot, product">
        <meta name="author" content="Aaron Gilmore">
        <link rel="shortcut icon" href="img/favicon.ico">
        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/main.css">
        <!--  <link rel="stylesheet" href="/css/reset.css"> -->
        <link rel="stylesheet" href="/css/grid.css">
        <link rel="stylesheet" href="/css/animate.min.css">
        <!-- Typekit -->
        <script src="https://use.typekit.net/xqb1dim.js"></script>
        <script>try{Typekit.load({ async: true });}catch(e){}</script>
        <meta name="google-site-verification" content="izX_qqqHxkdBs4mB3ccocFSML1v-x43VeFrBdKd22U8" />
    </head>
    <body class="animated fadeIn">
        <div id="wrap">
            {{ content }}
        </div>
    </body>
</html>