---
layout: default
---
<section class="post">

 <div class="cf pt4 pv5-l ph3 ph6-l lh-copy">
	<div class="w-100 pa2 pv0 measure-wide center">
		<h1 class="f2 lh-title mb1 fw3 tc">{{ page.title }}</h1>
		<p class="tc mt0 mb5"><span class="f6 gray">{{ page.date | date: '%B %d, %Y' }} • {% include read_time.html %} read</span></p>
		{{ content }}
	</div>
</div>

<!-- <hr class="mw7 center">

	<div class="cf pt4 pv5-l ph3 ph6-l lh-copy">
	    <div class="br3 bg-light-gray w-100 pa3 pa5-l measure-wide center">
	    	<h3>Newletter</h3>
	      <p class="lh-copy measure mt0">If you'd like to stay up-to-date with my blog, or subscribe to my monthly newsletter please sign up to my mailing list.</p>
	      <div id="mc_embed_signup">
	        <form action="//aarongilmore.us5.list-manage.com/subscribe/post?u=9ddd4dee57ef929930b1a90b4&amp;id=8e47b7eb4a" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate mb4" target="_blank" novalidate>
	          <div id="mc_embed_signup_scroll">
	            <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="Email address" required>
	            <button type="submit" name="subscribe" id="mc-embedded-subscribe" class="f5 blue">Subscribe</button>
	          </div>
	        </form>
	      </div>
	    </div>
  </div> -->

</section>
