<article class="cf pa3 mw7 center">
<footer class="fl w-100 pa3-m pa4-l">
    <small>
        <span class="db mt2">© 2009&ndash;<script>new Date().getFullYear()>2010&&document.write(new Date().getFullYear());</script> Aaron Gilmore</span>
    </small>
</footer>
</article>