<nav>
    <small class="gray">Jump to...</small>
    <a class="link f6 db underline" href="#writing" title="Writing">Writing</a>
    <a class="link f6 db underline" href="#contact" title="Contact">Contact</a>
    <a class="link f6 db underline" href="#library" title="Library">Library</a>
    <a class="link f6 db underline" href="#highlights" title="Highlights">Highlights</a>
</nav>