---
title: Goodreads | Aaron Gilmore is a designer &amp; front-end development
---

<div class="mw9 pv3">
    <h1 class="f-subheadline-ns f1-m f2 lh-title mw8">Goodreads</h1>
</div>

<div class="flex flex-row-ns flex-column">
  <div class="w-25 pa3 mr2">
    <img src="/images/goodreads/sacks.jpg" alt="">
  </div>
  <div class="w-25 pa3 mr2">
    <img src="/images/goodreads/jan.jpg" alt="">
  </div>
  <div class="w-25 pa3 mr2">
    <img src="/images/goodreads/jane.jpg" alt="">
  </div>
  <div class="w-25 pa3 mr2">
    <img src="/images/goodreads/robert.jpg" alt="">
  </div>
  <div class="w-25 pa3">
    <img src="/images/goodreads/wiz.jpg" alt="">
  </div>
</div>

<div class="flex flex-row-ns flex-column">
    <div class="w-25 pa3 mr2">
        <img src="/images/goodreads/fc.svg" alt="">
    </div>
    <div class="w-25 pa3 mr2">
        <img src="/images/goodreads/dervla.jpg" alt="">
    </div>
    <div class="w-25 pa3 mr2">
        <img src="/images/goodreads/mo.jpg" alt="">
    </div>
    <div class="w-25 pa3 mr2">
        <img src="/images/goodreads/oldways.jpg" alt="">
    </div>
    <div class="w-25 pa3 mr2">
        <img src="/images/goodreads/hobbit.jpg" alt="">
    </div>
</div>
