---
title: Home | Aaron Gilmore is a designer &amp; front-end development
---

<main>
  <article class="cf pa3 mw7 center">
  <header class="fl w-100 mt4 pa3-m pa4-l">
    <h1 class="lh-title mt0">
      <div class="tooltip">Dia dhuit<span class="tooltiptext">Hello in 🇮🇪 Irish; pronunciation: /jee-ah ghwitch/ </span></div>, I'm Aaron&mdash;a digital designer based in Ireland. I help design and build digital products remotely for <a href="https://www.acolorbright.com/en/" target="_blank">A Color Bright</a> in Berlin.
    </h1>
  </header>

  <section class="fl w-100">
    <div class="fl w-100 w-50-m w-50-l ph3-m ph4-l">
      <h2>Web notes <span class="orange">↓</span></h2>
      <small>Published automatically from my <em><a href="https://www.are.na/aaron-gilmore/highlights-iao1d4cqqte" target="_blank">Highlights</a></em> channel on Are.na.</small>
      <small class="db gray">∞</small>
    <div id="arena">
      <div id="content"></div>
    </div>

    </div>
    <div class="fl w-100 w-50-m w-50-l ph3-m ph4-l">
      <h2>Contact <span class="green">↓</span></h2>
      <ul class="f6 lh-copy measure">
        <li class="pv0"><a href="https://twitter.com/aarondgilmore/" target="_blank">Twitter ↗</a></li>
        <li class="pv0"><a href="https://www.are.na/aaron-gilmore" target="_blank">Are.na ↗</a></li>
        <li class="pv0"><a href="mailto:aaron@acolorbright.com" target="_blank">Email me ↗</a></li>
      </ul>
    </div>
  </section>
</article>

  </main>