---
title: Home | Aaron Gilmore is a designer &amp; front-end development
---

<nav>
  <small class="gray">Jump to...</small>
  <a class="link f6 db underline" href="#writing" title="Writing">Writing</a>
  <a class="link f6 db underline" href="#contact" title="Contact">Contact</a>
  <a class="link f6 db underline" href="#library" title="Library">Library</a>
  <a class="link f6 db underline" href="#highlights" title="Highlights">Highlights</a>
</nav>

<div>
    <h1>Designing and building on the web</h1>
    <p>I make things on the Internet; from odd little side projects to comprehensive design overhauls for large organisations. I'm currently undertaking the role of Senior Designer at <a href="https://www.dawsonandrews.com/work" target="_blank">Dawson Andrews</a>&mdash;an agency specialising in digital product design.</p>
    <p>Outside of screens I like to learn about architecture, urbanism, and art; I believe there's a lot we can learn&mdash;as designers&mdash;from these disciplines.</p>
    <figure>
      <img src="/images/me.JPG" alt="" width="100%">
      <figcaption>At <a href="https://2019.xoxofest.com" target="_blank">XOXO</a>, Portland, O.R., 2019</figcaption>
    </figure>
</div>

<div>
  <h2 id="writing">Writing</h2>
    <ul>
      <% blog('writing').articles[0...4].each do |article| %>
        <li><span class="date"><%= article.date.strftime('%Y.%m.%d') %></span><a href="<%= article.url %>"><%= article.title %></a></li>
      <% end %>
    </ul>
</div>

<div>
  <h2 id="contact">Contact</h2>
    <ul>
      <li><span>Email</span><a href="mailto:hello@aarongilmore.com">hello@aarongilmore.com</a></li>
      <li><span>Arena</span><a href="https://www.are.na/aaron-gilmor" target="_blank">/aaron-gilmore</a></li>
      <li><span>Twitter</span><a href="https://twitter.com/aarondgilmore/" target="_blank">/@aarondgilmore</a></li>
    </ul>
</div>

<div>
  <h2 id="highlights">Highlights</h2>
  <p>Highlights from things I read on the Internet, powered by <a href="http://are.na/" target="_blank">Are.na</a>.</p>
  <div id="entries">
    <div id="dot-dot-dot"></div>
  </div>
</div>